body {
  font-family: "Josefin Sans", sans-serif;
  height: 7000px;
  background-color: #212529;
}

/* start nav var */

.dark {
  background-image: url("../img/home/Cairokee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 637px;
}

.top {
  background-color: #212529c2;
  height: 637px;
}

.header {
  padding: 18px;
}
.header .nav-link {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 7px;
}

.social .nav {
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.social .nav-link {
  display: flex;
  align-items: flex-end;
}

.social h6 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.social i {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 300;
}

.links .nav-link {
  padding: 0;
  padding-top: 14px;
  line-height: 0.5rem;
  margin-right: 40px;
}

.links .nav-items {
  padding-top: 14px;
  height: 50px;
}

.active {
  border-bottom: 7px solid #5c2523;
}

.links .nav-link:hover {
  border-bottom: 7px solid #5c2523;
}

/* end nav var */

/* start main logo */

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 510px;
  position: relative;
}

.main-logo h1 {
  position: absolute;
  top: 50%;
  left: auto;
  font-size: 70px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.61);
}

/* start logo animation */

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

/* end logo animation */

/* end main logo */

/* start Music platforms */

.platform-section {
  background-color: #171b1f;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
}

.platforms a {
  color: white;
  padding: 47.5px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 0.4s ease-in-out;
}

.platforms a:hover {
  text-decoration: none;
  cursor: pointer;
}

.spotify {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.spotify:hover {
  background-color: #1ed761;
}
.itunes:hover {
  background-color: #ea4cc0;
}
.amazon:hover {
  background-color: #f79c34;
}
.google:hover {
  background-color: #f55a34;
}

.platforms a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.platforms a i {
  font-size: 20px;
  margin-right: 10px;
}

/* end Music platforms */

/* start tour section */

.tour {
  margin: 100px 0;
}

.tour .title {
  color: white;
  margin-bottom: 20px;
}

.tour .title h2 {
  font-size: 35px;
  font-weight: 700;
}

.tour .title p {
  color: rgba(255, 255, 255, 0.6);
}

.tour .title .sponsor {
  color: #28a745;
  text-transform: capitalize;
  font-size: larger;
}

/* start events */

.tour .event {
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 30px 15px;
}

.tour .subscribe {
  padding-left:0 ;
  padding-right: 0;
}

.tour .subscribe,
span {
  font-size: 22px;
  font-weight: 700;
}

.tour .subscribe,
p {
  text-align: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .sub-mail {
  width: 90%;
  height: 90%;
  border-radius: 035px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.subscribe form {
  height: 100%;
  width: 120%;
  padding: 0;
}

.subscribe form .submit {
  background-color: #EA1C21;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;

}

.subscribe form .mail{
  border: none;
}

.tour .date-and-time {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tour .date-and-time h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.tour .date-and-time p {
  color: rgba(255, 255, 255, 0.6);
}

.location {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
}

.location h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.tour .view-tickets {
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-tickets a {
  border: 2px white solid;
  border-radius: 35px;
  color: white;
  font-size: 12px;
  padding: 21px 60px;
  text-transform: uppercase;
}

.view-tickets a:hover {
  text-decoration: none;
}

/* end events */

/* start tour section */
