body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #212529;
  overflow: hidden;
  height: 100%;
  animation: body 35s ease-in-out forwards;
}

@keyframes body {
  to {
    overflow: visible;
    height: auto;
  }
}

.darking {
  background-color: #111111be;
  height: 100%;
}

/* start nav var */

/* .dark {
  background-image: url("../img/band/cairokee-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 637px;  
} */

.top {
  background-color: #212529c2;
  height: 637px;
}

.header {
  padding-top: 25px;
  z-index: 2;
  background-color: #11111100;
  transition: 0.3s ease-in-out;
}

.scrolled {
  position: fixed;
  width: 100%;
  background-color: #212529;
  padding: 10px;
}

.gray {
  background-color: gray;
}

.header .nav-link,
footer .nav-link {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 7px;
  outline: none;
}

.social .nav {
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.social .nav-link {
  display: flex;
  align-items: flex-end;
}

.social h6 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.social i {
  font-size: 18px;
  margin-right: 5px;
  font-weight: 300;
}

.links .nav-link {
  padding: 0;
  padding-top: 14px;
  line-height: 0.5rem;
  margin-right: 40px;
}

.links .nav-items {
  padding-top: 14px;
  height: 50px;
}

.active {
  border-bottom: 7px solid #5c2523;
}

.links .nav-link:hover {
  border-bottom: 7px solid #5c2523;
}

/* end nav var */

/* start main logo */

.main-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo h1 {
  color: white;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 15px;
  text-transform: capitalize;
  position: absolute;
  top: 250px;
}

/* start logo animation */

/* end logo animation */

.main-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img img {
  animation: zoom-out 9s ease 1;
  position: absolute;
  height: 120%;
  width: 130%;
}

/* main image animation */

@keyframes zoom-out {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 130%;
    height: 120%;
  }
}

/* end main logo */

/* start Music platforms */

.platform-section {
  background-color: #171b1f;
}

.platforms a {
  padding: 47.5px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 0.4s ease-in-out;
  color: white;
}

.platforms a h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
}

.platforms a:hover {
  text-decoration: none;
  cursor: pointer;
}

.spotify {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.spotify:hover {
  background-color: #1ed761;
}
.itunes:hover {
  background-color: #ea4cc0;
}
.amazon:hover {
  background-color: #f79c34;
}
.google:hover {
  background-color: #f55a34;
}

.platforms a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.platforms a i {
  font-size: 20px;
  margin-right: 10px;
}

/* end Music platforms */

/* start tour section */

.tour {
  margin: 100px 0;
}

.tour .title {
  color: white;
  margin-bottom: 20px;
}

.tour .title h2 {
  font-size: 35px;
  font-weight: 700;
}

.tour .title p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.tour .title .sponsor {
  color: #28a745;
  text-transform: capitalize;
  font-size: larger;
}

/* start events */

.event-holder {
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  overflow: hidden;
}

.tour .event {
  padding: 30px 15px;
}

@keyframes translate {
  0% {
    transform: translateY(0);
    background-color: #212529;
  }
  50% {
    transform: translateY(-150px);
    background-color: #212529;
  }
  51% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0.1);
    background-color: white;
  }
}

@keyframes small-colors {
  0% {
    color: rgba(167, 168, 170, 1);
  }
  50% {
    color: rgba(167, 168, 170, 1);
  }
  51% {
    color: #212529;
  }
  100% {
    color: #212529;
  }
}

@keyframes date-colors {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  51% {
    color: #212529;
  }
  100% {
    color: #212529;
  }
}

@keyframes t-border {
  0% {
    border-color: white;
    color: white;
  }
  50% {
    border-color: white;
    color: white;
  }
  51% {
    border-color: #212529;
  }
  100% {
    border-color: #212529;
  }
}

/* leave animation */
@keyframes leave-translate {
  0% {
    transform: translateY(0.1);
    background-color: white;
  }
  50% {
    transform: translateY(+150px);
    background-color: whote;
  }
  51% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
    background-color: #212529;
  }
}

@keyframes leave-small-colors {
  0% {
    color: #212529;
  }
  50% {
    color: #212529;
  }
  51% {
    color: rgba(167, 168, 170, 1);
  }
  100% {
    color: rgba(167, 168, 170, 1);
  }
}

@keyframes leave-date-colors {
  0% {
    color: #212529;
  }
  50% {
    color: #212529;
  }
  51% {
    color: white;
  }
  100% {
    color: white;
  }
}

@keyframes leave-t-border {
  0% {
    border-color: #212529;
    color: #212529;
  }
  50% {
    border-color: #212529;
    color: #212529;
  }
  51% {
    border-color: white;
  }
  100% {
    border-color: white;
  }
}

.tour .subscribe {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
}

.tour .subscribe,
span {
  font-size: 22px;
  font-weight: 700;
}

.tour .subscribe,
p {
  text-align: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe .sub-mail {
  width: 90%;
  height: 90%;
  border-radius: 035px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.subscribe form {
  height: 100%;
  width: 120%;
  padding: 0;
}

.subscribe form .submit {
  background-color: #ea1c21;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.subscribe form .mail {
  border: none;
  outline: none;
}

.tour .date-and-time {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tour .date-and-time h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.tour .date-and-time p {
  color: rgba(255, 255, 255, 0.6);
}

.location {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
}

.location h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.tour .view-tickets {
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-tickets a {
  border: 2px white solid;
  border-radius: 35px;
  color: white;
  font-size: 12px;
  padding: 21px 60px;
  text-transform: uppercase;
}

.view-tickets a:hover {
  text-decoration: none;
}

/* end events */

/* start tour section */

/* start about us section */

.about {
  margin-bottom: 100px;
}

footer .contact {
  padding-top: 50px;
}

.about span,
.news span,
footer .contact span {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.about h2,
.news h2,
footer .contact h2 {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
}

.about p,
.news p {
  text-align: center;
}

/* start personal section */

.about-personal {
  margin: 0;
}

.personal-holder {
  width: 100%;
  margin: 0;
}

.personal {
  height: 300px;
  background-size: cover;
  padding: 0;
}

.personal div {
  width: 100%;
  height: 100%;
  background-color: #11111180;
  margin: 0;
  position: absolute;
  overflow: hidden;
}

.personal1 {
  background-image: url("../img/band/unnamed.jpg");
  background-position-y: -120px;
}
.personal2 {
  background-image: url("../img/band/a97af0dd41c756ea96638c88a9fd57c4.jpg");
  background-position-x: -95px;
}
.personal3 {
  background-image: url("../img/band/cVPQkoDI_400x400.jpg");
}
.personal4 {
  background-image: url("../img/band/A-3228939-1429512418-7665.jpeg.jpg");
}

.about-personal .intro {
  color: white;
  padding: 10px 20px 10px 15px;
  position: relative;
  top: 220px;
  transition: ease-in-out 0.5s;
}

.about-personal .intro h2 {
  text-transform: capitalize;
  font-size: 25px;
}

.about-personal .type {
  font-size: 15px;
  font-weight: 200;
}

.about-personal .intro p {
  font-size: 17px;
  margin-top: 20px;
  line-height: 1.4rem;
  text-transform: capitalize;
}

/* start intro animation */

.about-personal .personal:hover .intro {
  animation: smoth-intro 0.5s;
  top: 0;
}

/* end intro animation */

/* start personal section */

/* start mid-cover */

.mid-cover {
  width: 100%;
  height: 500px;
  background-image: url("../img/band/skyler-gerald-EXum9D06dxU-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.mid-cover div {
  height: 100%;
  background-color: #111111be;
}

/* end mid-cover */

/* end about us section */

/* start news-events */

.news p {
  margin-bottom: 100px;
}

.news-events {
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

.news-events .col {
  height: 350px;
  margin: 15px;
}

.news-events .event {
  align-items: center;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.news-events .event:hover {
  transform: translateY(-20px);
  box-shadow: #111111 0px 0px 70px 15px;
}

.news-events .event-bg {
  height: 40%;
  padding-top: 30px;
  padding-left: 15px;
}

.news-events .event-bg:hover {
  cursor: pointer;
}

.news-events .event-content {
  height: 60%;
  background-color: #222222;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.news-events .bigger {
  height: 235px;
  line-height: 1.4rem;
}

.news-events .event-content a {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: left;
}

.news-events .event-content a:hover {
  text-decoration: none;
}

.news-events .event-content p {
  font-size: 16px;
  text-align: left;
}

.news-events .event-bg div {
  width: 45px;
  height: 70px;
}

.news-events .event-bg .day {
  background-color: red;
  height: 60%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-events .event-bg .month {
  height: 40%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* start events bg in news section  */

.news-events .event1 .event-bg {
  background-image: url("../img/band/yvette-de-wit-Kcx_YuUR-dw-unsplash.jpg");
  background-size: cover;
  background-position-y: -70px;
}
.news-events .event2 .event-bg {
  background-image: url("../img/band/austin-neill-_uzJEiPETvY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -40px;
}
.news-events .event3 .event-bg {
  background-image: url("../img/band/anna-earl-uu9g3xVBcuM-unsplash.jpg");
  background-size: cover;
  background-position-y: -50px;
}

/* start events bg in news section  */

/* start see more btn */

.see-more {
  justify-content: center;
}

.see-more a {
  height: 50px;
  padding: 17px 20px 10px;
  border-radius: 35px;
  color: white;
  background-color: #ea1c21;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.see-more a:hover {
  text-decoration: none;
  background-color: #eb366c;
}

/* end see more btn */

/* start footer */

footer {
  margin-top: 50px;
  background-color: #171b1f;
}

/* start nav-bottom */

footer .first {
  height: 175px;
  padding: 50px 50px;
}

footer .links {
  padding-top: 15px;
  padding-left: 195px;
  padding-right: 0;
  margin: 0;
}

footer .active {
  border: none;
}

/* for bottom logo animation */

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  color: white;
  font-size: 30px;
}

/* for bottom logo animation */

/* start contact section */

footer form {
  background-color: #171b1f;
  margin-top: 70px;
}

footer form input,
textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.452);
  border-radius: 5px;
  margin-right: 142px;
  color: rgba(255, 255, 255, 0.76);
}

textarea {
  margin: 30px 0;
}

footer .btn {
  font-size: 12px;
  display: flex;
  padding: 0;
  justify-content: flex-start;
  margin-bottom: 30px;
}

footer button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ea1c21;
  color: white;
  font-weight: 700;
}

/* end contact section */

/* start sec footer */

.sec-footer {
  background-color: #121619;
  height: 175px;
  display: flex;
  flex-direction: row;
}

.sec-footer p {
  margin: auto;
  margin-left: 25px;
}

.sec-footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 25px;
}

.sec-footer ul li a {
  margin: 15px;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: flex-start;
}

.sec-footer ul li h6 {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}

.sec-footer ul li i {
  margin-right: 10px;
  font-size: 19px;
  position: relative;
  bottom: 4px;
}

/* end sec footer */

/* end nav-bottom */

/* end footer */

/* start loading overlay */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* animation: hide 5s ease-in-out forwards;            <<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes hide {
  to {
    opacity: 0;
    display: none;
  }
}

.for-cairokee {
  margin-top: 10%;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  padding-bottom: 5px;
  position: absolute;
}

.for-cairokee span {
  color: red;
  text-transform: capitalize;
  font-size: 60px;
  margin: 0;
  position: relative;
}

.hider {
  display: flex;
  background-color: #000;
  width: 264px;
  height: 64px;
  position: absolute;
  top: -12%;
  left: 0%;
  animation: temptation 5s ease-in-out forwards;
}

@keyframes temptation {
  20% {
    left: 5%;
  }
  30% {
    left: 0%;
  }
  40% {
    left: 40%;
  }
  60% {
    left: 25%;
  }
  70% {
    left: 60%;
  }
  80% {
    left: 50%;
  }
  90% {
    left: 90%;
  }
  95% {
    left: 40%;
  }
  100% {
    left: 101%;
  }
}

.dots {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
  background-color: rgb(105, 216, 71);
  position: absolute;
  bottom: 0%;
}

@keyframes dots-animation {
  from {
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

/* end loading overlay */
